.header1 {
  color: white;
  font-size: 28px;
  margin-bottom: 0;
}
.header2 {
  font-size: 48px;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.ContactForm {
  width: 680px;
}
.infoInputs,
.textArea {
  padding: 20px 32px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 1px transparent;
  border: 0;
  outline: 0;
  border-radius: 40px;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 20px;
}
.infoInputs::placeholder {
  color: white;
}
.textArea {
  -webkit-appearance: none;
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  border: none;
  min-height: 0;
  padding: 20px 32px 20px 32px;
  resize: vertical;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 1px transparent;
  min-height: 300px;
}
.ContactButton {
  border-radius: 40px;
  font-size: 20px;
}
.textArea::placeholder {
  color: white;
}
.ContactContainer {
  background: url(../assets/BROLL MEDIA BG1.jpg) center center/cover no-repeat
    fixed !important;
}
.ContactCard {
  /* backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.4);
  filter: saturate(1.8); */
  -webkit-appearance: none;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 1000px;
  height: 450px;
  color: white;
}
.ContactCard1 {
  animation: conactSliderAnimation 3s;
}
.openContactCard1 {
  animation: conactSliderAnimation 3s;
  animation-direction: alternate;
}
.ContactCard2 {
}
@keyframes contactSliderAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-right: 250px;
  }
}
.socialMediaIcon {
  font-size: 35px;
}
.socialMediaIcons {
  list-style: none;
  padding-inline-start: 0px;
  color: #ffffd4;
}
.cardContainer {
  padding: 0 75px;
  gap: 140px;
}
.companyName {
  font-size: 32px;
  font-weight: 600;
  margin-block-start: -0.5em;
  text-align: center;
}
hr {
  opacity: 0.5;
}
.secondSectionInfo {
  font-size: 20px;
  font-weight: bold;
}
.PersonalPhotoContainer {
  /* width: 50px; */
  height: auto;
  width: auto;
}
.PersonalPhoto {
  border-radius: 50%;
  /* position: relative; */
}
.teamMember {
  width: 425px;
  height: 75px;
  /* background-color: white; */
  padding: 25px;
}
.member {
  display: flex;
  filter: saturate(1.8);
  opacity: 1;
  background-color: rgba(19, 19, 23, 0.4);
  font-weight: bolder;
  padding: 10px 25px;
  gap: 15px;
  border-radius: 35px;
  color: rgb(214, 214, 214);
}
.personNameContainer p {
  margin-block-end: 0em;
}
.personName {
  font-weight: bold;
}
.position {
  font-weight: 600;
}
.ourTeam {
  flex-wrap: wrap;
  display: flex;
  /* padding: 7px; */
  justify-content: space-around;
}
.firstSectionContainer {
  /* visibility: visible; */
  animation-duration: 1500ms;
  animation-delay: 0ms;
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 00%, 0);
  }
}
.contactInfosLogo {
  font-size: 28px !important;
  color: #ffffd4;
}

.contactPage {
  /* opacity: 1; */
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-name: fadeInUp;
  animation-direction: alternate;
}
.teamPage {
  display: none;
  /* opacity: 1; */
  animation-duration: 1000ms;
  animation-delay: 0ms;
}
