.appContainer {
  /* margin-left: 7%;
  margin-right: 7%; */
}
.TextSection {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition-property: opacity;
  transition-delay: 0.08s;
  transition-duration: 0.4s;
}
.TextSection > div > p {
  font-size: 40px;
  color: rgb(194, 194, 194);
  margin-block-end: 0em;
  font-weight: 500;
  /* font-weight: bold; */
}
.TextSection > div > h1 {
  background-image: linear-gradient(
    263deg,
    rgba(247, 247, 247, 1) 41%,
    rgba(254, 255, 242, 1) 77%
  );
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 80px;
  font-family: "SF Pro Display Heavy", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
  padding: 0px 0px 4px 0px;
  margin-block-start: 0em;
}
.TextSectionButton {
  font-size: 24px;
  padding: 18px 30px;
  border-radius: 33px;
  font-weight: bold;
  /*  */
}
.button:hover {
  background-color: #ffffffcc;
  transition-property: background-color;
  transition-duration: 0.7s;
}
.button {
  --black: white;
  --ch-black: #e9e9e9;
  --eer-black: #d8d8d8;
  --night-rider: #2e2e2e;
  --white: black;
  --af-white: #101010;
  --ch-white: #242424;
  border-radius: 33px;
  width: 211px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  border: none;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 0.2s;
  background-color: var(--ch-black);
  font-size: 24px;
  font-weight: bold;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 33px;
  background: linear-gradient(
    45deg,
    var(--ch-black),
    var(--eer-black),
    var(--night-rider),
    var(--ch-white),
    var(--night-rider),
    var(--eer-black),
    var(--ch-black),
    var(--ch-black)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(50px);
}
.servicesSection {
  margin-top: 100vh;
  padding: 0 100px;
}
.servicesMainHeader {
  font-weight: bold;
  font-size: 48px;
  background-image: linear-gradient(
    0deg,
    rgba(19, 19, 23, 0.2) 0%,
    rgb(19, 19, 23) 56.4805%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servicesDescription {
  font-size: 25px;
  letter-spacing: -0.02em;
  line-height: 1.45em;
  color: rgb(19, 19, 23);
  opacity: 0.7;
}
.ServiceArrow {
  font-size: 40px;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.ServiceArrow:hover {
  transform: rotate(-90deg);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  animation-direction: alternate;
}
/* .serviceCheckbox:checked + .Arrow {
  transform: rotate(-90deg);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  animation-direction: alternate;
} */
.ServiceArrow > p {
  margin-left: 1px;
  margin-bottom: 8px;
}
/* .ServiceName {
  font-size: 32px;
  cursor: pointer;
} */
/* .service {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
} */
.serviceDescription {
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: #131317;
  /* opacity: 0.7; */
  margin-right: 50px;
  /*  */
  opacity: 0;
  transition: all transform 0.6s ease-in-out;
  max-height: 0.1rem;
  overflow: hidden;
}
.service {
  margin-top: 15px;
  cursor: pointer;
  border-bottom: 2px solid #13131733;
}
.service {
  padding: 10px 0;
  position: relative;
}
/* .service:not(:last-of-type) {
  border-bottom: 1px solid #13131733;
} */
.faq__arrow {
  position: absolute;
  width: 1.2rem;
  max-width: 100%;
  right: 0;
  top: 15px;
  transition: transform 0.6s ease-in-out;
}
.faq__input {
  display: none;
}
.faq__input:checked + .serviceDescription {
  opacity: 0.7;
  max-height: 30rem;
}
.faq__input:checked ~ .serviceHeading .ServiceArrow {
  transform: rotate(-180deg);
}

.faq__input:checked ~ .serviceDescription {
  opacity: 0.7;
  max-height: 30rem;
  transition-property: max-height;
  transition-duration: 0.7s;
}
.faq__input:checked ~ .faq__arrow {
  transform: rotate(180deg);
}
.serviceName {
  display: block;
  font-size: 32px;
  cursor: pointer;
  font-weight: bolder;
}
.serviceDescription {
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: #131317;
  /* opacity: 0.7; */
  margin-right: 50px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  max-height: 0.1rem;
  overflow: hidden;
  margin-bottom: 5px;
  /* width: 90%; */
}
.projectsSection {
  padding: 0 100px;
  background-color: #15204c;
}
.ProjectsHeader {
  font-size: 48px;
  font-weight: bolder;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projectsButton {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  opacity: 1;
  color: white;
}
.projectsButton:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-color: rgb(255, 255, 255, 0.6);
  transition-property: background-color;
  transition-duration: 0.2s;
}
.buttonText {
  font-size: 18px;
}
.reviewsHeader {
  background-image: linear-gradient(
    0deg,
    rgba(19, 19, 23, 0.2) 0%,
    rgb(19, 19, 23) 56.4805%
  );
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: bold;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 12;
  display: flex;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.4);
  filter: saturate(1.8);
  border: 1px solid rgba(19, 19, 23, 0.6);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  color: rgb(19, 19, 23);
  opacity: 0.4;
}
.sidebar ul li:hover {
  color: rgb(19, 19, 23) !important;
  opacity: 0.4;
  transition-property: color;
  transition-duration: 0.2s;
  cursor: pointer;
}
.names {
  /* gap: 18px;
  padding: 15px;
  font-size: 14px;
  justify-content: space-around;
  margin-bottom: 20px; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}
.sidebarServices {
  margin-block-end: 0;
  color: white;
  backdrop-filter: blur(25px);
  background-color: black;
  opacity: 0.6 !important;
  padding: 5px 10px;
  border-radius: 15px;
  /* filter: saturate(1.8); */
  display: flex !important;
  justify-content: center;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}
.sidebarNav {
  opacity: 0;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}
